{% extends "base.html" %}
{% block title %}Articles{% endblock %}

{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body }}</p>
    </div>
    <p><a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a></p>
    <br />
    <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
{% endblock %}