{% extends "base.html" %}
{% block title %}Edit Article{% endblock %}

{% block content %}
    <h1>Edit</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info ml-2">Update</button>
    </form>
{% endblock %}