{% extends "base.html" %}
{% block title %}Create Article{% endblock %}

{% block content %}
    <h1>Create Article</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>
{% endblock %}