{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}

{% block content %}
    <h2>Signup</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Signup</button>
    </form>
{% endblock %}